extends layout

block content
        div.card-container
                a.card(href="/turn?choice=rock")
                        img(src="/images/rock-icon.jpg")
                a.card(href="/turn?choice=paper")
                        img(src="/images/paper-icon.jpg")
                a.card(href="/turn?choice=scissors")
                        img(src="/images/scissors-icon.jpg")